.notes-list-title-btn {
  --color: black;
}

@media (prefers-color-scheme: dark) {
  .notes-list-title-btn {
    --color: white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.date-picker-toolbar {
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
}
