/* Bubble menu */
.bubble-menu {
  background-color: var(--bubble-menu-bg);
  border: 1px solid var(--bubble-menu-border);
  border-radius: 0.7rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0.2rem;
}

.bubble-menu button {
  background-color: unset;
}

.bubble-menu button:hover {
  background-color: var(--bubble-menu-button-hover-bg);
}

.bubble-menu button.is-active {
  background-color: var(--bubble-menu-button-active-bg);
}

.bubble-menu button.is-active:hover {
  background-color: var(--bubble-menu-button-active-hover-bg);
}

.floating-menu {
  display: flex;
  background-color: var(--floating-menu-bg);
  padding: 0.1rem;
  border-radius: 0.5rem;
}

.floating-menu button {
  background-color: unset;
  padding: 0.275rem 0.425rem;
  border-radius: 0.3rem;
}

.floating-menu button:hover {
  background-color: var(--floating-menu-button-hover-bg);
}

.floating-menu button.is-active {
  background-color: var(--floating-menu-button-active-bg);
  color: var(--floating-menu-button-active-color);
}

.floating-menu button.is-active:hover {
  color: var(--floating-menu-button-active-hover-color);
}

/* Ensure the task item checkbox and text are on the same line */
/* Ensure the task list items are displayed correctly */

.tiptap ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.tiptap :first-child {
  margin-top: 0;
}
.tiptap ul[data-type="taskList"] li {
  align-items: flex-start;
  display: flex;
}
.tiptap ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  padding-top: 0.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tiptap ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"]:checked {
  accent-color: var(--tasklist-checkbox-color);
  border: 2px solid var(--tasklist-checkbox-border); /* Use the border variable */
  background-color: var(
    --tasklist-checkbox-color
  ); /* Ensure background is set */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 0.25rem;
  overflow: auto;
  text-decoration: none;
}

.table-of-contents > div {
  border-radius: 0.25rem;
  padding-left: calc(0.875rem * (var(--level) - 1));
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.table-of-contents > div:hover {
  background-color: var(--gray-2);
}

.table-of-contents .empty-state {
  color: var(--gray-5);
  user-select: none;
}

.table-of-contents .is-active a {
  color: var(--purple);
}

.table-of-contents .is-scrolled-over a {
  color: var(--gray-5);
}

.table-of-contents a {
  color: var(--black);
  display: flex;
  gap: 0.25rem;
  text-decoration: none;
}

.table-of-contents a::before {
  content: attr(data-item-index) ".";
}

ion-menu.full-menu {
  --min-width: 100%;
}
